<div>
    <div style="float: left;">
        <button class="qbtn" onclick="resetButtons();">Reset Buttons</button>
    </div>    
    <div style="float: right; font-size: 18px;">
        Player 1: <span id="p1-amt"></span><br>
        Player 2: <span id="p2-amt"></span><br>
        Player 3: <span id="p3-amt"></span>
    </div>
</div>
<br><br><br><br><br><br><br><br>
<div style="float: left;">
<table>
    <thead>
        {{#each questions.categories}}
            <th>{{this.name}}</th>
        {{/each}}
    </thead>
    <tbody>
        <tr>
        {{#each questions.categories}}
            <td><button class="qbtn {{this.questions.0.i}}" onclick="toggleQ({{this.questions.0.i}});">{{this.questions.0.value}}</button></td>
        {{/each}}
        </tr>
        <tr>
        {{#each questions.categories}}
            <td><button class="qbtn {{this.questions.1.i}}" onclick="toggleQ({{this.questions.1.i}});">{{this.questions.1.value}}</button></td>
        {{/each}}
        </tr>
        <tr>
        {{#each questions.categories}}
            <td><button class="qbtn {{this.questions.2.i}}" onclick="toggleQ({{this.questions.2.i}});">{{this.questions.2.value}}</button></td>
        {{/each}}    
        </tr>
</table>
</div>
<div id="answerbox" style="float: right; opacity: 0;">
    <h2>Answer</h2>
    <button class="qbtn" onclick="answer('correct');">Correct</button>
    <button class="qbtn" onclick="answer('incorrect');">Incorrect</button>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script>

    var webSocket = new WebSocket("ws://localhost:3000/ws/dash?id=dash");
    webSocket.message = function cmd(cmd){
        console.log("Command", cmd);
    }
    
    var openQ = false;
    var answerID = null;
    function toggleQ(id){
        if(openQ){                        
            $('.'+id).removeClass('activebtn');
            openQ = false;
            answerID = null;
            $('#answerbox').css('opacity', 0);
            hideQ(id);
        } else {
            if(answerID == null){
                resetButtons();
                $('.'+id).css('background-color', 'black');
                openQ = true;
                answerID = id;
                $('#answerbox').css('opacity', 1);
                showQ(id);
            }            
        }
    }    

    function showQ(id){
        webSocket.send("showq_"+id);
    }

    function hideQ(id) {
        webSocket.send("hideq_"+id);
    }

    function resetButtons() {
        webSocket.send("resetbtns");
    }    

    function answer(a) {
        webSocket.send(a+"_"+answerID);
        // hide
        $('.'+answerID).removeClass('activebtn');
        openQ = false;        
        $('#answerbox').css('opacity', 0);
        hideQ(answerID);
        answerID = null;
    }
</script>
