<div class="wrapper">
  {{#each questions.categories}}
  <div class="box category">{{this.name}}</div>
  {{/each}}
</div><br>
<div class="wrapper">
  {{#each questions.categories}}
  <div class="box {{this.questions.0.i}} subject">{{this.questions.0.value}}</div>
  {{/each}}

  {{#each questions.categories}}
  <div class="box {{this.questions.1.i}} subject">{{this.questions.1.value}}</div>
  {{/each}}

  {{#each questions.categories}}
  <div class="box {{this.questions.2.i}} subject">{{this.questions.2.value}}</div>
  {{/each}}  
</div><br>
<div class="pwrapper">
  <div class="box a player1">PLAYER 1: <span class="winnings"><span id="p1amt">0</span> DKK</span></div>
  <div class="box b player2 inactive">PLAYER 2: <span class="winnings"><span id="p2amt">0</span> DKK</span></div>
  <div class="box c player3 inactive">PLAYER 3: <span class="winnings"><span id="p3amt">0</span> DKK</span></div>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script>  
  var q = {{{questionsJSON}}};
  var questions = [];
  Object.keys(q.categories).forEach(function(k){
    var cat = q.categories[k];    
    cat.questions.forEach(function(e) {
      questions.push(e);
    });
  });  
  console.log(questions);
  var ws = new WebSocket("ws://localhost:3000/ws/game?id=game");
				
               ws.onopen = function() {
                  console.log("Game connected to server");
               };
				
               ws.onmessage = function (evt) { 
                  var received_msg = evt.data;
                  
                  if(received_msg.indexOf('showq') > -1){
                    var qid = received_msg.split("_")[1];
                    showQuestion(qid);
                  }

                  if(received_msg.indexOf('hideq') > -1){
                    var qid = received_msg.split("_")[1];
                    hideQuestion(qid);
                  }
               };
				
               ws.onclose = function() { 
                  
                  // websocket is closed.
                  alert("Server connection closed"); 
               };
  $(document).ready(function(){
    resetPlayers();
  });
  function highlightPlayer(player){
    if(player == "player1"){
      $('.player1').removeClass('inactive');
      $('.player2, .player3').addClass('inactive');
    } else if(player == "player2"){
      $('.player2').removeClass('inactive');
      $('.player1, .player3').addClass('inactive');
    } else if(player == "player3"){
      $('.player3').removeClass('inactive');
      $('.player1, .player2').addClass('inactive');
    }
  }
  function resetPlayers() {
    $('.player1, .player2, .player3').removeClass('inactive');
  }
  function addAmount(player, amount){
    // get old score
    var oldscore = parseInt($('#p'+player+'amt').html());
    $('#p'+player+'amt').html(oldscore+amount);
  }
  function showQuestion(id) {
    // get question by id
    var q = $.grep(questions, function(e) {
      return e.i == id;
    })[0];
    console.log(q);
    $('.'+id).html(q.q)
    $('.'+id).addClass('activeQuestion');
  }
  function hideQuestion(id){
    $('.'+id).removeClass('activeQuestion');
    $('.'+id).css('opacity', '0');
  }


</script>