<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    
</head>
<style>
    body {
      margin: 40px;
      overflow: hidden;
    }

    .activebtn {
        background-color: green;
        color: white;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 23vw 23vw 23vw 23vw;
        grid-column-gap: 1vw;
        grid-row-gap: 10px;
        background-color: #fff;
        color: #444;
    }

    .pwrapper {
        display: grid;
        grid-template-columns: 31vw 31vw 31vw;
        grid-column-gap: 1vw;
        grid-row-gap: 10px;
        background-color: #fff;
        color: #444;    
    }

    .box {
        background-color: #444;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;
        transition: all 0.35s ease;        
    }
    .category {
        background-color: darkcyan;      
        text-align: center;
        font-size: 200%;  
    }
    .subject {
        font-size: 300%;
        line-height: 20vh;
        text-align: center;
        height: 20vh;
    }

    .player1 {
        background-color: blue;
    }
    .player2 {
        background-color: green;
    }
    .player3 {
        background-color: orange;
    }

    .winnings {
        float: right;
    }
    .inactive {
        opacity: 0.5;
    }

    .activeQuestion {  
        position: absolute;      
        top: 0;
        left:0;        
        width: 100vw;
        height: 100vh;
        z-index: 99999;
        margin: auto;
        line-height: normal;
        padding-top:100px;
    }

    .qbtn {
        width: 200px;
        height: 100px;
        font-size: 24px;
    }
</style>
<body>

    {{{body}}}

</body>
</html>